h2= title
p= 'Hello everyone, this is a gen page. Not static'
hr
h3= 'please insert your email below!'
form(id='form', action='/beta', method='post', enctype='multipart/form-data')
	span= 'I vow to '
	input(id='vow', type='text', name='vow')
	span= '.'
	br
	br
	input(id='submit', type='submit')

	hr
	#test


script(src='/javascripts/ajax.js')

